@page "/addtask"
@using ProjectManagement.App.Services
@using ProjectManagement.App.Contracts
@using ProjectManagement.App.ViewModels
@inject ITaskDataService TaskDataService

<h5>Add new task</h5>

<EditForm Model="@SpecificTaskViewModel">

</EditForm>



@code {
    public SpecificTaskViewModel SpecificTaskViewModel { get; set; }


    protected override async Task OnInitializedAsync()
    {

        //Client client = new Client("https://localhost:44360");
        //SpecificTaskViewModel = await client.GetTaskByIdAsync(TaskId);
    }
}
