@page "/"


<h3>Welcome to the Project Management App.</h3>
<AuthorizeView>
    <Authorized>
        <p>Select a project to continue working.</p>
        <button @onclick="LogOut" class="btn btn-primary">Logout</button>
    </Authorized>
    <NotAuthorized>
        <p>Create a project to begin.</p>
        <button @onclick="NavigateToLogin" class="btn btn-primary m-2">Log in</button>
        <br />
        <button @onclick="NavigateToRegister" class="btn btn-primary">Register</button>
    </NotAuthorized>
</AuthorizeView>

