@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using ProjectManagement.App.Contracts
@using ProjectManagement.App.Authentication 
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService



<h3>Welcome to the Project Management App.</h3>
<AuthorizeView>
    <Authorized>
        <button @onclick="LogOut">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="NavigateToLogin" class="btn btn-primary">Log in</button>
        <br />
        <button @onclick="NavigateToRegister" class="btn btn-primary">Register</button>
    </NotAuthorized>
</AuthorizeView>



@code {
    protected async override Task OnInitializedAsync()
    {
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
    }

    protected void NavigateToLogin()
    {
        NavigationManager.NavigateTo("login");
    }
    protected void NavigateToRegister()
    {
        NavigationManager.NavigateTo("register");
    }
    protected async void LogOut()
    {
        await AuthenticationService.LogOut();
    }
}