@using ProjectManagement.App.Contracts
@using ProjectManagement.App.ViewModels
@using Microsoft.AspNetCore.Components 
@page "/login" 
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService

<div class="card text-center">
    <div class="card-header">Login</div>
    <div class="card-body">
        <EditForm Model="@LoginViewModel" OnValidSubmit="ValidSubmit">
            <span class="login100-form-title">
                Member Login
            </span>
            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <InputText id="userName"  @bind-Value="LoginViewModel.Email"></InputText>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Password is required">
                <InputText type="password" id="password" @bind-Value="@LoginViewModel.Password"></InputText>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Login
                </button>
            </div>
            <div class="text-center p-t-12">
                <span class="txt1">
                    Forgot
                </span>
                <a class="txt2" href="#">
                    Username / Password?
                </a>
            </div>
            <div class="text-center p-t-136">
                <a class="txt2" href="#">
                    Create your Account
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>
        </EditForm>
    </div>
    <div class="card-footer">@Message</div>
</div>


@code{
    public LoginViewModel LoginViewModel { get; set; }
    public string Message { get; set; }

    protected override void OnInitialized()
    {
        LoginViewModel = new LoginViewModel();
    }

    protected async void ValidSubmit()
    {
        if (await AuthenticationService.Authenticate(LoginViewModel.Email, LoginViewModel.Password))
        {
            NavigationManager.NavigateTo("index");
        }
        Message = "Username/password combination not known";
    }
}